<div class="pros-demo-container">
    PDP Zone A Vertical
    <div id="pros-pdp-zone-a-vertical-container" class="vertical-pros"></div>
</div>

<div class="pros-demo-container">
    PDP Zone A Horizontal
    <div id="pros-pdp-zone-a-horizontal-container"></div>
</div>

<div class="pros-demo-container">
    PDP Zone B
    <div id="pros-pdp-zone-b-container"></div>
</div>

<div id="pros-trigger-button-container"></div>